<aside class="menu-lateral">

    <h2 class="logo">Sistema ERP</h2>

    <ul>

        <li><a href="/pages/dashboard.html">🏠 Dashboard</a></li>

        <li class="menu-titulo">Cadastro</li>
        <li><a href="/pages/cliente.html">👤 Cliente</a></li>
        <li><a href="/pages/fornecedor.html">🏢 Fornecedor</a></li>
        <li><a href="/pages/categoria.html">📦 Categorias</a></li>
        <li><a href="/pages/produto.html">📦 Produtos</a></li>
        <li><a href="/pages/usuario.html">👥 Usuários</a></li>

        <li class="menu-titulo">Vendas</li>
        <li><a href="/pages/vendas.html">💰 Vendas</a></li>

        <li class="menu-titulo">Financeiro</li>
        <li><a href="#">📊 Financeiro</a></li>

    </ul>

</aside>